<div class="mb-3 text-end">
            <a href="/marca/formulariomarca" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i> Nova Marca
            </a>
        </div>
        <table class="table table-bordered table-hover bg-white">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
    <% for (let i = 0; i < marcas.length; i++) { %>
        <tr>
            <td><%= marcas[i].id %></td>
            <td><%= marcas[i].nome %></td>
            <td><%= marcas[i].tipo %></td>
            <td>
                <button data-id="<%= marcas[i].id %>" class="btn btn-primary btn-md btnEditarMarca me-1" title="Editar">
                    <i class="fas fa-pen"></i>
                </button>
                
                <button data-id="<%= marcas[i].id %>" class="btn btn-danger btn-md btnExcluir" title="Excluir">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    <% } %>
</tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/marca/cadastrar.js"></script>
