<div class="mb-3 text-end">
            <a href="/servicos/formularioservicos" class="btn btn-warning text-white">
                <i class="bi bi-plus-lg"></i> Novo Serviço
            </a>
        </div>
        <table class="table table-bordered table-hover bg-white">
            <thead class="table-warning">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% if (servicos && servicos.length > 0) { %>
                    <% for (let i = 0; i < servicos.length; i++) { %>
                        <tr>
                            <td><%= servicos[i].id %></td>
                            <td><%= servicos[i].nome %></td>
                            <td><%= servicos[i].descricao %></td>
                            <td>
                                <button data-id="<%= servicos[i].id %>" class="btn btn-primary btn-md btnEditarServ me-1" title="Editar">
                                    <i class="fas fa-pen"></i>
                                </button>
                                
                                <button data-id="<%= servicos[i].id %>" class="btn btn-danger btn-md btnExcluir" title="Excluir">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="3" class="text-center">Nenhum serviço cadastrado.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/servico/cadastra.js"></script>
